<!DOCTYPE html>
<html lang="en">
  <head data-user-token="<%= assigns[:user_id] %>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Nika!</title>
    <link href="//cdn.muicss.com/mui-0.7.1/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <% if get_flash(@conn, :info) do %>
      <div class="alert alert-info" role="alert">
        <p><%= get_flash(@conn, :info) %></p>
      </div>
    <% end  %>
    <% if get_flash(@conn, :error) do %>
      <div class="alert alert-danger" role="alert">
        <p><%= get_flash(@conn, :error) %></p>
      </div>
    <% end  %>
    <div class="mui-container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
