<div class="mui-row">
  <h2><%= gettext "Welcome to %{name}", name: "Nika!" %></h2>
  <p>Create and edit podcasts.</p>
</div>
<hr class="mui-divider" />

<div class="mui-row">
  <h4>Menu</h4>
  <ul>
    <li>
      <a href="/episodes">Episodes</a>
    </li>
  </ul>
</div>
